<div class="well">
  <div class="media">
    <%= link_to pitch, class: "pull-left item-thumbnail" do %>
      <%= image_tag pitch.avatar.url, class: "media-object" %>
    <% end %>
    <div class="media-body">
      <h3 class="media-heading">
        <i class="fa fa-home"></i>
        <%= link_to pitch.name, pitch %>
      </h3>
      <p class="text-right">
        <%= render "shared/pitch_status_label", pitch: pitch %>
      </p>
      <p><%= pitch.description %></p>
      <ul class="list-inline list-unstyled">
        <li>
          <span>
            <i class="fa fa-user"></i>
            <%= link_to pitch.owner.name, pitch.owner %>
          </span>
        </li>
        <li>|</li>
        <span>
          <i class="fa fa-shopping-bag"></i>
          <%= t ".mini_pitches", num: pitch.mini_pitches.size %>
        </span>
        <li>|</li>
        <li>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        </li>
        <li>|</li>
        <li>
          <%= social_share_button_tag pitch.name %>
        </li>
      </ul>
    </div>
  </div>
</div>
