<% @rents.each do |rent| %>
  <div class="panel-group rent-done-action-<%= rent.id %>">
    <div class="panel panel-default">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="order-status-<%= rent.id %> orders">
            <input class="pitch-id" type="hidden" value="<%= @pitch.id %>">
            <span id="status-<%= rent.id %>" value="<%= rent.status %>">
              <%= content_tag :span, t("all_status.#{rent.status}"),
              class: "label label-info" %>
            </span>
            <button class= "btn btn-primary handle-rent" value= "accepted" 
              data-id="<%= rent.id %>">
              <%= t ".accept"%>
            </button>       
            <button class= "btn btn-danger handle-rent" value="rejected" 
              data-id="<%= rent.id %>">
              <%= t ".reject"%>
            </button>
            <span class="pull-right">
              <%= t ".rent_on" %><%= l rent.created_at, format: :long %>
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body col-md-12 col-sm-12">
        <div class="col-md-offset-1 col-md-1 col-xs-offset-1 col-xs-1">
          <div class="search-user-image">
            <%= image_tag rent.user.avatar.url, class: "thumbnail" %>
          </div>
        </div>
        <div class="col-md-4 col-xs-4 text-center rent-info">
          <div><b><%= rent.user_name %></b></div>
          <span><i><%= rent.phone %></i></span>
        </div>
        <div class="col-md-3 col-xs-3 rent-info">
          <div>
            <strong><%= t ".start" %></strong>
            <i><%= l rent.start_hour, format: :short_time %></i>
          </div>
          <div>
            <strong><%= t ".end" %></strong>
            <i><%= l rent.end_hour, format: :short_time %></i>
          </div>
          <div>
            <strong><%= t ".date" %></strong>
            <i><%= l rent.date, format: :long %></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-3 rent-info">
          <div>
            <strong><%= t ".mini" %></strong>
            <i><%= rent.mini_pitch.name %></i>
          </div>
        </div>
      </div> 
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.handle-rent').on('click', function() {
    id = this.dataset.id;
    action = $(this).val();
    pitch_id = $('.pitch-id').val();
    $.ajax({
      type: 'PUT',
      url : '/dashboard/pitches/' + pitch_id + '/rents/' + id,
      dataType: 'json',
      data: {
        status: action,
        pitch_id: pitch_id
      },
      success: function(data) {
        if (data.status === 100) {
          $.growl.notice({title: I18n.t("growl.title.notice"),
            message: data.message});
        }
        else {
          $.growl.warning({title: I18n.t("growl.title.warning"),
            message: data.message});
        }
        $('.rent-done-action-'+ data.id).remove();
      },
      error: function(error_message) {
        console.log('error: ' + error_message);
      }
    });
  });
</script>
