<div id="join-match-modal" class="modal fade" role="dialog">
  <div class="modal-dialog rent_mini_pitch-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center"><%= t ".info" %></h3>
      </div>
      <div class="modal-body">
        <div class="fade in well confirm_order">
            <%= hidden_field_tag "match_id", @match.id %>
            <div class="hidden_available_quantity">
              <%= hidden_field_tag "available_quantity", @match.available_quantity %>
            </div>
             <div class="form-group">
              <%= t ".quantity" %>
              <%= number_field_tag :quantity, nil, min: 1,
                class: "form-control" %>
            </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <%= link_to t(".join"), "#",
            class: "btn btn-success confirm-join-match-btn" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t ".cancel" %>
        </button>
      </div>
    </div>

  </div>
</div>
