<% if items.blank? %>
  <li>
    <%= link_to search_path(params[:search]),
      class: "btn btn-default btn-block" do %>
      <%= t "livesearch.no_result", name: params[:search] %>
    <% end %>
  </li>
<% else %>
  <div class="scrollable-menu width400">
    <% items.each do |item| %>
      <% if item.is_a? MiniPitch %>
        <%= render "mini_pitches/live_search_item", mini_pitch: item %>
      <% elsif item.is_a? Pitch %>
        <%= render "pitches/live_search_item", pitch: item %>
      <% end %>
    <% end %>
  </div>
  <li class="divider"></li>
  <li>
    <%= link_to search_path(params[:search]),
      class: "btn btn-default btn-block" do %>
      <%= t "livesearch.see_more", num: items.size,
        name: params[:search] %>
    <% end %>
  </li>
<% end %>
