<div id="new-match-modal" class="modal fade" role="dialog">
  <div class="modal-dialog rent_mini_pitch-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center"><%= t ".info" %></h3>
      </div>
      <div class="modal-body">
        <div class="fade in well confirm_order">
            <%= hidden_field_tag "rent_id", @rent.id %>

            <div class="form-group">
              <%= t ".max_quantity" %>
              <%= number_field_tag :max_quantity, nil, min: 1,
                class: "form-control" %>
            </div>

             <div class="form-group">
              <%= t ".quantity" %>
              <%= number_field_tag :quantity, nil, min: 1,
                class: "form-control" %>
            </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <%= link_to t(".create"), "#",
            class: "btn btn_add_to_cart btn-add new-match-btn" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t ".cancel" %>
        </button>
      </div>
    </div>

  </div>
</div>
