<% @match.match_users.each_with_index do |match_user, index| %>
  <tr>
    <td><%= increase_one index %></td>
    <td><%= match_user.user.name %></td>
    <td>
      <div class="search-user-image">
        <%= image_tag match_user.user.avatar.url, class: "thumbnail" %>
      </div>
    </td>
    <td><%= match_user.user.phone %></td>
    <td>
      <%= match_user.quantity %>
    </td>
    <td>
      
    </td>
  </tr>
<% end %>
