<% @match.match_users.each_with_index do |match_user, index| %>
  <tr>
    <td><%= increase_one index %></td>
    <td><%= match_user.user.name %></td>
    <td>
      <div class="search-user-image">
        <%= image_tag match_user.user.avatar.url, class: "thumbnail" %>
      </div>
    </td>
    <td><%= match_user.user.phone %></td>
    <td>
      <%= match_user.quantity %>
    </td>
    <td>
      <% if (@rent.user == current_user) || 
        (match_user.user == current_user) %>
        <%= link_to t(".delete"), match_user, method: :delete,
          remote: true, data: {confirm: t(".delete_confirm")},
          class: "btn btn-danger" %>
      <% end %>
    </td>
  </tr>
<% end %>
