<%= simple_form_for [:dashboard, @pitch, @mini_pitch] do |f| %>
  <%= render "shared/error_messages", object: @mini_pitch %>
  <div class="form-group">
    <%= f.label t ".name" %>
    <%= f.text_field :name, placeholder: t(".name"),
      class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t ".description" %>
    <%= f.text_area :description, placeholder: t(".description"),
      class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t ".price" %>
    <%= f.number_field :price, placeholder: t(".price"),
      class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label t ".type" %>
    <%= f.select :pitch_type, options_for_select([5,7,11 ], 5) %>
  </div>

  <div class="form-group">
    <%= f.label t ".start_hour" %>
    <%= f.time_select :start_hour,  minute_step: 5 %>
    <%= f.label t ".end_hour" %>
    <%= f.time_select :end_hour,  minute_step: 5 %>
  </div>
  <div class="form-group">
    <%= f.label t ".status" %>
    <%= f.select :status,
      options_for_select(MiniPitch.statuses.keys, :active) %>
  </div>
  <div class="form-group">
    <%= f.label t ".image" %>
    <%= image_tag @mini_pitch.image.url, class: "avatar padding_top_10px defaut-size" %>
    <%= f.file_field :image, accept: Settings.pictures.accepted_files,
      class: "upload_img" %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= link_to t(".back_button"), :back, class: "btn btn-warning" %>
  <%= f.submit yield(:submit_button),
    class: "btn btn-primary space-top-submit" %>
<% end %>
